<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Off">

  <variable name="fileloglayout" value="${level:uppercase=true} [${longdate}] ${logger:shortName=True}: ${message}"/>
  <variable name="rootns" value="BlenderRenderController"/>

  <targets>
    <target xsi:type="File" name="brclogfile_p" fileName="${basedir}/log.txt" layout="${var:fileloglayout}"/>

    <target xsi:type="File" name="brclogfile" fileName="${speacialfolder:folder=ApplicationData}/${var:rootns}/log.txt" layout="${var:fileloglayout}"/>

    <target xsi:type="Console" name="console" layout="${uppercase:${level}}|${logger:shortName=True}:  ${message}"/>
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Warn" writeTo="brclogfile" />-->
    <logger name="*" minlevel="Trace" writeTo="console"/>
  </rules>
</nlog>
