<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off">

    <variable name="fileloglayout" value="${level:uppercase=true} [${longdate}] ${logger:shortName=True}: ${message}"/>
    <variable name="rootns" value="BlenderRenderController"/>
    
    <targets>
      <target xsi:type="File" name="brclogfile_p" fileName="${basedir}/log.txt" layout="${var:fileloglayout}"/>

      <target xsi:type="File" name="brclogfile" fileName="${speacialfolder:folder=ApplicationData}/${var:rootns}/log.txt" layout="${var:fileloglayout}"/>
      
      <target xsi:type="Console" name="console" layout="${uppercase:${level}}|${logger:shortName=True}:  ${message}"/>
    </targets>

    <rules>
      <!--<logger name="*" minlevel="Warn" writeTo="brclogfile" />-->
      <logger name="*" minlevel="Trace" writeTo="console"/>
    </rules>
    
  </nlog>

  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
    
    <!-- BRC App settings -->
    <add key="portable" value="false"/>

    <!--0=ChunkTxtPath, 1=Adds, 2=Duration, 3=Final file path-->
    <add key="ffmpegArgBase" value="-f concat -safe 0 -i &quot;{0}&quot; {1} {2} &quot;{3}&quot; -y"/>
    
    <add key="ffmpegConcatAdd" value="-c copy"/>
    
    <!--0=MixdownFilePath-->
    <add key="ffmpegConcatMixdownAdd" value="-i &quot;{0}&quot; -c copy -map 0:v:0 -map 1:a:0"/>
  </appSettings>
  
</configuration>
